@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 40% 90.6%;
    --foreground: 180 25% 20%;
    --card: 180 40% 95%;
    --card-foreground: 180 25% 20%;
    --popover: 180 40% 95%;
    --popover-foreground: 180 25% 20%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 25% 95%;
    --secondary: 180 20% 85%;
    --secondary-foreground: 180 100% 25.1%;
    --muted: 180 20% 88%;
    --muted-foreground: 180 10% 45%;
    --accent: 174 72.1% 56.5%;
    --accent-foreground: 180 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 80%;
    --input: 180 20% 80%;
    --ring: 174 72.1% 56.5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 15% 10%;
    --foreground: 180 20% 85%;
    --card: 180 15% 12%;
    --card-foreground: 180 20% 85%;
    --popover: 180 15% 12%;
    --popover-foreground: 180 20% 85%;
    --primary: 174 72.1% 56.5%;
    --primary-foreground: 180 25% 15%;
    --secondary: 180 15% 20%;
    --secondary-foreground: 180 20% 85%;
    --muted: 180 15% 20%;
    --muted-foreground: 180 10% 55%;
    --accent: 180 100% 25.1%;
    --accent-foreground: 180 25% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 15% 20%;
    --input: 180 15% 20%;
    --ring: 174 72.1% 56.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
